*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
  line-height: 1.2;
  overflow-x: hidden;
  max-height: 100vh;
}

.main-container {
  position: relative;
}

.container-left {
  position: fixed;
  background: #F4EEEE;
  width: 220px;
  height: 100vh;
  right: 100%;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  box-shadow: 4px 4px 6px #00000070;
}

.container-left.active {
  position: fixed;
  transition: 0.3s;
  visibility: visible;
  right: 85%;
  width: 20rem;
}

.container-right {
  overflow-y: auto;
  max-height: 100vh;
}

.bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 7px 0;
  transition: all 0.3s ease;
  background-color: black;
  border-radius: 4px;
}

.hamburger {
  z-index: 1;
  left: 30px;
  top: 30px;
  position: fixed;
  background: transparent;
  border: none;
}
