*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
  line-height: 1.2;
  overflow-x: hidden;
  max-height: 100vh;

}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

header > img {
  width: 5rem;
}

nav {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: 1rem;
  height: 90vh;
}

.container-left {
  position: fixed;
  background: #F4EEEE;
  width: 30%;
  height: 76vh;
  right: 100%;
  top: 6rem;
  transition: 0.3s;
  visibility: hidden;
  box-shadow: 4px 4px 6px #00000070;
  border-radius: 38px;
  z-index: 1;
}

.container-left.active {
  transition: 0.3s;
  visibility: visible;
  right: 85%;
}

.container-right {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 1rem;
  overflow-y: auto;
}

.todo {
  width: 200px;
  min-width: 15rem;
  min-height: 8rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 3px 2px 0px 0px #073b4ccc;
  border: 1px solid black;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.todo-template-popup {
  position: fixed;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 3px 2px 0px 0px #073b4ccc;
  border: 1px solid black;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  margin-top: 1.3rem;
  width: 100%;
}

.note {
  font-size: 0.9rem;
  width: 100%;
  overflow-wrap: break-word;
}

.new-notes-container {
  height: 222px;
  overflow-y: hidden;
}

.reminder-container {
  text-align: center;
  min-height: 2rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.no-border {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-border:focus {
  outline: none;
}

.todo-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.add-toDo-btn {
  background: #565770;
  padding: 1.2rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  top: 75vh;
  right: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px #00000070;
}

.add-toDo-btn > img {
  width: 1.2rem;
}

.todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.todo-btn > img {
  width: 1.3rem;
}

.hamburger {
  left: 30px;
  position: fixed;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.hamburger > img {
  width: 3rem;
}

.priority-circle {
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  top: 4px;
  right: 219px;
}

.toggle-datetime-hidden {
  display: none;
}

.toggle-datetime-visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 166px;
  left: 80px;
  width: 14rem;
  background-color: lightgreen;
  border-radius: 12px;
  padding: 16px;
  gap: 0.5rem;
}

.toggle-priority-hidden {
  display: none;
} 

.toggle-priority-visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 96px;
  left: 50px;
  width: 14rem;
  background-color: #FFF8F8;
  border-radius: 12px;
  padding: 16px;
  gap: 0.5rem;
  min-height: 13rem;
}

.priority-btn-container {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  height: 118px;
  width: 60%;
  align-self: center;
  margin-top: 1rem;
}

.priority-title {
  margin: 0;
}

.priority-btn {
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .2rem .2rem;
  border-radius: 6px;
}

.priority-btn::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: .2rem;
  border: 1px solid black;
}

.priority-btn.low::before {
  background: #FFFFFF;
}

.priority-btn.normal::before {
  background: #06D6A0;
}

.priority-btn.medium::before {
  background: #FFD166;
}

.priority-btn.high::before {
  background: #EF476F;
}

.close-datetime-btn {
  align-self: flex-end;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: .1rem .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}