*, *::before, *::after {
  box-sizing: border-box;
}

@supports not (scrollbar-gutter: stable) {
  .container-right {
    overflow-y: scroll;
  }
}

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: monospace, Courier;
  margin: 0;
  background-color: #ff98000f;
  line-height: 1.2;
  overflow-x: hidden;
  max-height: 100vh;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header > img {
  width: 5rem;
}

.hamburger-container {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: .5rem;
  height: 90vh;
}

.show-proj-name-div {
  margin: 0;
  text-align: center;
  color: #000000;
  font-weight: 600;
  height: 1rem;
  user-select: none;
}

.container-left {
  position: fixed;
  background: #FFFFFF;
  width: 18rem;
  height: 76vh;
  left: -400px;
  top: 6rem;
  transition: 0.2s ease-in-out;
  box-shadow: 4px 4px 6px #00000070;
  border-radius: 2px 10px 10px 2px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-left: 0.8rem;
}

.container-left.active {
  transition: 0.2s ease-in-out;
  left: 0px;
}

.container-left button {
  border: none;
  background: #FFFFFF;
}

nav,
.add-new-project-wrapper {
  width: 88%;
}

.nav-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.notes-btn-li {
  border-bottom: 1px solid #00000033;
  padding-bottom: 1rem;
}

.my-projects-btn-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hamburger-container,
.notes-btn,
.my-projects-btn,
.edit-projects-btn,
.add-new-project-btn,
.project-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  user-select: none;
}

.notes-btn,
.my-projects-btn {
  font-size: .9rem;
  padding: .2rem .4rem;
  cursor: pointer;
}

.add-new-project-wrapper {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #00000033;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.add-new-project-btn, 
.edit-projects-btn {
  font-size: .7rem;
}

.project-name {
  font-size: .8rem;
}

.project-name,
.add-new-project-btn, 
.edit-projects-btn {
  cursor: pointer;
  color: #0b0b0bb0;
}


.toggle-project.visible.edit-projects-container {
  position: fixed;
  top: 50%;      
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-project {
  display: none;
}

.toggle-project.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 57px;
  left: 17px;
  width: 20rem;
  background-color: #FCFAF8;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  min-height: 21rem;
  box-shadow: 2px 2px 0px 0px #000000;
}

.project-title {
  margin: 0;
  font-size: 1rem;
}

.project-list-container {
  height: 11rem;
  width: 100%;
  border: 1px solid #9e9e9e42;
  border-radius: 10px;
  padding: 1rem 0 1rem 0.9rem;
  background: #FFFFFF;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.project-item-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  min-height: 1.4rem;
  justify-content: space-around;
  margin: 0 0.1rem;
}

.project-item-wrapper:hover {
  background-color: #f1efeeff;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.project-item-wrapper.selected-project {
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px #121212;
}

.project-item-input {
  border: none;
}

.project-item-input.error {
  border: 2px solid red;
}
 
.project-item-input:focus {
  outline: 2px solid #4d352c;
}

.project-item-input[readonly]:focus {
  outline: none;
}

.project-item-input:not([readonly]):hover {
  cursor: text;
}

.delete-project-item-btn:hover, 
.edit-project-item-btn:hover,
.project-item-input:hover {
  cursor: pointer;
}

.project-input {
  font-size: .8rem;
  width: 12rem;
}

.project-input-wrapper {
  display: flex;
  flex-direction: column;
}

.project-input-error {
  height: 1rem;
  font-size: .8rem;
  color: red;
  visibility: hidden;
}

.project-input-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.4rem;
}

.project-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.container-right {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0 2rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  padding-bottom: 4px;
}

.todo {
  width: 200px;
  min-width: 17.8rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 0px #073b4c59;
  border: 1px solid #0000005c;
  padding: 0 1rem .4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.todo > .title-text {
  font-size: 1rem;
}

.todo > .todo-note {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
  overflow-wrap: break-word;
}

.todo-no-edit {
  cursor: pointer;
}

.todo-template-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-width: 22rem;
  height: 33rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 2px 0px 11px 0px #073b4ccc;
  border: 1px solid black;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: todo-open 0.3s forwards;
  justify-content: space-between;
}

.todo-saved {
  opacity: 0;
  animation: todo-show 0.3s forwards;
}

.todo-reminder-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: .2rem;
  min-height: 1.3rem;
}

.todo-reminder-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 20px;
  background: ghostwhite;
  padding: 0.1rem 0.6rem;
  font-size: 0.6rem;
  user-select: none;
  font-weight: 600;
  border: 1px solid #80808040;
}

.reminder-content,
.reminder-img-span,
.todo-reminder-img-span, 
.todo-reminder-txt-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-reminder-img {
  width: .9rem;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  margin-top: 1.3rem;
  width: 100%;
  font-weight: 600;
}

.note {
  font-size: .9rem;
  width: 100%;
  overflow-wrap: break-word;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  line-height: 1.4;
}

.title-text,
.todo-btn-container {
  padding-right: 1rem;
}

.new-notes-container {
  min-height: 23rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.reminder-container {
  min-height: 1.6rem;
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  position: relative;
  user-select: none;
}

.reminder-container.active {
  position: relative;
  border: 1px solid #80808040;
  background: ghostwhite;
}

.reminder-container:not(.active) .reminder-content {
  display: none;
}

.reminder-content {
  padding: 0.1rem 0.6rem;
  font-size: 0.6rem;
  user-select: none;
  gap: 0.6rem;
}

.reminder-img {
  width: 1.1rem;
}

.reminder-txt-span {
  font-size: .8rem;
}

.remove-reminder-btn {
  position: absolute;
  width: 29px;
  height: 29px;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1px;
  transition: opacity 0.3s ease;
}

.remove-reminder-img {
  min-width: 100%;
  border-radius: 50%;
  background: transparent;
  color: #80808040;
}

.reminder-container.active:hover .remove-reminder-btn {
  opacity: 0.3;
  pointer-events: auto;
}

textarea {
  resize: none;
  overflow: hidden;
}

/* Revise */
.no-border {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-border:focus {
  outline: none;
}

.todo-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  user-select: none;
}

.add-toDo-btn {
  background: #565770;
  padding: 1.2rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  top: 75vh;
  right: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px #00000070;
  z-index: 5;
  cursor: pointer;
}

.add-toDo-btn > img {
  width: 1.2rem;
}

.todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.todo-btn > img {
  width: 1.3rem;
}

.hamburger {
  left: 30px;
  position: fixed;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  cursor: pointer;
}

.hamburger > img {
  width: 3rem;
}

.priority-circle {
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  top: 4px;
  left: 4px;
}

.toggle-datetime {
  display: none;
}

.toggle-datetime.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 166px;
  left: 80px;
  width: 14rem;
  background-color: lightgreen;
  border-radius: 12px;
  padding: 16px;
  gap: 0.5rem;
}

.toggle-priority {
  display: none;
} 

.toggle-priority.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 57px;
  left: 31px;
  width: 14rem;
  background-color: #FFF8F8;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  gap: 0.5rem;
  min-height: 16rem;
  justify-content: space-around;
  box-shadow: 2px 2px 0px 0px #000000;
}

.priority-btn-container {
  display: flex;
  gap: .6rem;
  flex-direction: column;
  height: 118px;
  width: 60%;
  align-self: center;
}

.priority-title {
  margin: 0;
  font-size: 1rem;
}

.priority-btn {
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .2rem .2rem;
  border-radius: 6px;
}

.priority-btn::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: .2rem;
  border: 1px solid black;
}

.priority-btn.low::before {
  background: #FFFFFF;
}

.priority-btn.normal::before {
  background: #06D6A0;
}

.priority-btn.medium::before {
  background: #FFD166;
}

.priority-btn.high::before {
  background: #EF476F;
}

.close-datetime-btn, 
.close-priority-btn,
.close-project-btn {
  align-self: flex-end;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: .2rem .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-priority-btn {
  margin-top: 1rem;  
}


@keyframes todo-open {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes todo-show {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}