*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
  line-height: 1.2;
  overflow-x: hidden;
  max-height: 100vh;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header > img {
  width: 5rem;
}

nav {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: 1rem;
}

.container-left {
  position: fixed;
  background: #F4EEEE;
  width: 30%;
  height: 100vh;
  right: 100%;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  box-shadow: 4px 4px 6px #00000070;
}

.container-left.active {
  transition: 0.3s;
  visibility: visible;
  right: 85%;
}

.container-right {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 2rem;
  overflow-y: auto;
}

.todo {
  width: 200px;
  min-width: 15rem;
  min-height: 8rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 3px 2px 0px 0px #073b4ccc;
  border: 1px solid black;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.todo-template-popup {
  position: fixed;
  top: 16rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 3px 2px 0px 0px #073b4ccc;
  border: 1px solid black;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
} 

.title {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  width: 100%;
}

.note {
  font-size: 0.9rem;
  margin-top: 0.7rem;
  width: 100%;
  overflow-wrap: break-word;
}

.no-border {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-border:focus {
  outline: none;
}

.todo-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  padding-top: 1rem;
  margin-top: auto;
  margin-bottom: 0.6rem;
}

.add-toDo-btn {
  background: #565770;
  padding: 1.2rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  top: 75vh;
  right: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px #00000070;
}

.add-toDo-btn > img {
  width: 1.2rem;
}

.todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.todo-btn > img {
  width: 1.3rem;
}

.hamburger {
  left: 30px;
  position: fixed;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.hamburger > img {
  width: 3rem;
}
